@model btn.Models.Employee

@{
    ViewData["Title"] = "Chỉnh sửa thông tin khách hàng";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<section class="content">
    <div class="ms-2 mx-2">

        <form asp-controller="Employee" asp-action="Edit" method="post" class="mt-3">

            <input type="hidden" asp-for="EmployeeId" />

            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Thông tin khách hàng</h3>
                </div>
                <div class="card-body">

                    <div class="form-group row mb-3">
                        <label asp-for="EmployeeId" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="EmployeeId" class="form-control" />
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label asp-for="EmployeeName" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="EmployeeName" class="form-control" />
                            <span asp-validation-for="EmployeeName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label asp-for="Address" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label asp-for="PhoneNumber" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label asp-for="Gender" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="Gender" class="form-control" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label asp-for="DateOfBirth" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <label asp-for="Position" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="Position" class="form-control" />
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
                    <button type="submit" class="btn btn-warning float-right">Cập nhật</button>
                </div>
            </div>

        </form>
    </div>
</section>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}