@model IEnumerable<btn.Models.MenuItem>

<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a href="@item.Link" class="nav-link">
                    <i class="nav-icon @item.Icon"></i>
                    <p>
                        @item.Name
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>
<!-- /.sidebar-menu -->
